{% extends 'base.html.twig' %}

{% block title %}Create Author{% endblock %}

{% block body %}
    <h1>Create New Author</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.email) }}
    </div>
    <button type="submit" class="btn btn-primary">Create Author</button>
    {{ form_end(form) }}
{% endblock %}
