{% extends 'base.html.twig' %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    <h1>Add Comment</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.authorName) }}
        {{ form_widget(form.authorName, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.authorName) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.authorEmail) }}
        {{ form_widget(form.authorEmail, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.authorEmail) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'form-control', 'placeholder': 'Write your comment...' } }) }}
        {{ form_errors(form.content) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
