{% extends 'base.html.twig' %}

{% block title %}Create Blog Post{% endblock %}

{% block body %}
    <h1>Create Blog Post</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.author) }}
        {{ form_widget(form.author, { 'attr': { 'class': 'form-control' } }) }}
        {{ form_errors(form.author) }}
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
    {{ form_end(form) }}
{% endblock %}
